h1,h2,h3,h4,h5,h6,p {
  color: #424242;
  font-family: 'Lato', sans-serif;
}

.darkgrey{
  color: #444;
}

.lightgrey {
  color: #eee;
}

.thin-border {
  border-top: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #444;
}

.pinstripe-bg {
  background-image: url("/img/bg/bg-pin.png");
}
